extends layout

block content
  section#container
    header
      div.headertxt
        h1 Header
    main
      div.cover
        h1 The Quantum Guys 
        p.
          We're a team of scientists and engineers based in Lund, Sweden, 
          fascinated by the potential of the proliferation of 
          cheap and easy-to-use open-source technology.
    meettheteam
      p.
        Hello!
    qoonet
      p.
        Qoonet link
