extends layout

block content
  section#container
    header
      div.headertxt
        h1
          a(href="/") TQG
    main
      div.cover
        h1 The Quantum Guys 
        p.
          We are a team of scientists and engineers based in Lund, Sweden, 
          fascinated by the proliferation of cheap and easy-to-use open-source 
          technology, and the potential that it offers.
        p.
          Our core strength is in the development of instrumentation and control 
          applications for businesses, R&D facilities, and academia.
    meettheteam(onclick="location.href='#';",  style="cursor: pointer;")
      div.meettheteamtext
        h1.
          Meet the team
    qoonet(onclick="location.href='#';",  style="cursor: pointer;")
      div.qoonettext
        h1.
          Qoonet
        p.
          Instrumentation for humans
