* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  width: 100%;
  grid-template-areas: "head" "main" "foot";
  grid-template-rows: 100px 1fr 60px;
  height: 100vh;
}

#container>header {
  grid-area: head;
  background-color: #28262c;
  padding: 10px 10%;
  font-family: 'Raleway', sans-serif;
  color: #bcf4f5;
}

#container>main {
  grid-area: main;
  background-color: rgb(43, 202, 199, 0.2);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  color: #28262c;
}

#container>footer {
  grid-area: foot;
  background-color: #28262c;
  font-family: 'Raleway', sans-serif;
  color: #bcf4f5;
}
