* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  width: 100%;
  grid-template-areas: "head head head" "blank main link1" "blank main link2";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 60px 1fr 1fr;
  height: 100vh;
  background-color: #555;
}

#container>meettheteam {
  grid-area: link1;
  height: 40vh;
  margin: auto 0;
  border-radius: 20px;
  background-color: yellow;
}

#container>qoonet {
  grid-area: link2;
  height: 40vh;
  margin: auto 0;
  border-radius: 20px;
  background-color: green;
}

#container>header {
  grid-area: head;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
  line-height: 60px;
  color: #555;
}

.headertxt {
  grid-column: 2 / 4;
}

#container>main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: 0 auto;
  /* padding: 10px 20px; */
  font-family: 'Merriweather', serif;
  position: relative;
}

.cover {
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 1 / 9;
  text-align: left;
}

.cover h1 {
  font-size: 62px;
  text-transform: uppercase;
  color: #94b8ff;
  letter-spacing: 3px;
}

.cover p {
  font-size: 24px;
  font-family: 'Merriweather', serif;
  color: #ccc;
  /* background-color: #caebf2; */
}
