* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  width: 100%;
  grid-template-areas: "head head head" "blank main link1" "blank main link2";
  grid-template-columns: 1fr 7fr minmax(200px, 2fr);
  grid-template-rows: 60px 1fr 1fr;
  height: 100vh;
  background-color: #555;
}

@media only screen and (max-width: 1300px) {
  #container {
    display: grid;
    width: 100%;
    grid-template-areas: "head head" "main main" "link1 link2";
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: #555;
  }
}

#container>meettheteam {
  grid-area: link1;
  height: 40vh;
  line-height: 40vh;
  margin: auto 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffd9b2;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 1300px) {
  #container>meettheteam {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#container>meettheteam .meettheteamtext {
  font-size: 36px;
  text-align: center;
  color: #555;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

#container>qoonet {
  grid-area: link2;
  height: 40vh;
  line-height: 40vh;
  margin: auto 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #b2d9ff;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 1300px) {
  #container>qoonet {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#container>qoonet .qoonettext {
  font-size: 36px;
  text-align: center;
  color: #555;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

#container>header {
  grid-area: head;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  background-color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
  line-height: 60px;
}

.headertxt {
  grid-column: 2 / 4;
  font-size: 24px;
  letter-spacing: -2px;
}

.headertxt a {
  color: #555;
}

.headertxt a:link {
  text-decoration: none;
}

.headertxt a:visited {
  text-decoration: none;
}

.headertxt a:hover {
  text-decoration: underline;
}

#container>main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.cover {
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 1 / 10;
  text-align: left;
  font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 1300px) {
  .cover {
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 12;
    text-align: left;
    font-family: 'Merriweather', serif;
  }
}

.cover h1 {
  font-size: 62px;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 5px;
  padding: 10px 0;
}

.cover p {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #ccc;
  padding: 10px 0;
  word-spacing: 3px;
  line-height: 1.5;
}
